<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>TeacherTrax - Courses</title>
    </head>

    <body>
        <h1>Courses</h1>
        Find a course near you <strong>{{ boldmessage }}</strong><br />
        <img src="{% static 'images/on-track.jpg' %}" alt="Everythhing is going according to plan"/><br />
        {% if courses %}
            <ul>
                {% for course in courses %}
                <li>{{ course.city }} - {{ course.date }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no courses present.</strong>
        {% endif %}
        <a href="/teachertrax/">Home</a><br />
        <a href="/teachertrax/teachers/">Teachers</a><br />
        
        
    </body>

</html>

